#cloud-config
users:
  - name: ansible
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo
    shell: /bin/bash
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFX4JO+5+o85gZSKnFY1QfL8XaQRYANL6L/l6PDl4jRs funmicra@Titanas

disable_root: true
ssh_pwauth: false
chpasswd:
  expire: false

# optional: basic firewall (UFW) setup
package_update: true
package_upgrade: true
packages:
  - ufw
runcmd:
  - ufw default deny incoming
  - ufw default allow outgoing
  - ufw allow ssh
  - ufw --force enable
