- name: Determine hostname dynamically
  set_fact:
    custom_hostname: "{{ 
      ('frontend' if 'frontend' in group_names 
       else 'backend-' + ansible_default_ipv4.address.split('.')[-1] 
       if 'backend' in group_names 
       else inventory_hostname_short) 
      | trim 
    }}"

- name: Set hostname
  hostname:
    name: "{{ custom_hostname }}"
  become: true

- name: Update /etc/hosts for hostname resolution
  lineinfile:
    path: /etc/hosts
    regexp: '127\.0\.1\.1'
    line: "127.0.1.1 {{ custom_hostname }}"
    state: present
  become: true

- name: Show hostname for verification
  debug:
    msg: "{{ custom_hostname }}"
