- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Upgrade all packages
  apt:
    upgrade: dist

- name: Install base packages
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
      - htop
      - vim
      - git
      - net-tools
      - unzip
      - software-properties-common
      - ufw
      - build-essential
      - software-properties-common
      - apt-transport-https
    state: present
