---
- name: Ensure UFW is installed
  apt:
    name: ufw
    state: present
    update_cache: yes

- name: Reset UFW to default
  ufw:
    state: reset

- name: Set default policies
  ufw:
    state: enabled
    policy: deny
    direction: incoming

- name: Allow SSH on public node
  ufw:
    rule: allow
    port: 22
    proto: tcp
  when: "'proxy' in group_names"

- name: Allow custom public ports (HTTP/HTTPS)
  ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop: "{{ firewall_public_allowed_ports }}"
  when: "'proxy' in group_names"

- name: Allow forwarding for NAT on public node
  ufw:
    rule: allow
    in_interface: "{{ nat_private_iface | default('eth1') }}"
    out_interface: "{{ nat_public_iface | default('eth0') }}"
    comment: "Allow private subnet forwarding"
  when: "'proxy' in group_names"

- name: Allow ESTABLISHED,RELATED traffic back to private
  ufw:
    rule: allow
    in_interface: "{{ nat_public_iface | default('eth0') }}"
    out_interface: "{{ nat_private_iface | default('eth1') }}"
    stateful: yes
    comment: "Allow return traffic from internet"
  when: "'proxy' in group_names"

- name: Allow private nodes to SSH (only from proxy)
  ufw:
    rule: allow
    port: 22
    proto: tcp
    from_ip: "{{ hostvars[groups['proxy'][0]]['ansible_default_ipv4']['address'] }}"
  when: "'private' in group_names"

- name: Enable UFW
  ufw:
    state: enabled
    logging: on
